/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
package-lock.json

/public/css/awcodes/tiptap-editor/tiptap.css
/public/css/eightynine/filament-reports/filament-reports-styles.css
/public/js/awcodes/tiptap-editor/components/tiptap.js
/public/js/eightynine/filament-reports/filament-reports-scripts.js
/public/css/filament/filament/app.css
/public/css/awcodes-sticky-header/awcodes-sticky-header.css
/public/img/equipe.svg
/public/css/aymanalhattami/filament-slim-scrollbar/filament-slim-scrollbar.css
/public/js/filament/forms/components/file-upload.js
/public/css/filament/forms/forms.css
/public/js/filament/forms/components/markdown-editor.js
/public/css/filament/support/support.css
/public/js/filament/support/support.js
